.histogram{
    
    
    .searcHistogram{
        text-align: center;
        display: flex;
        justify-content: center;

        margin-right: 25px;
        .major-select{
            width: 20%;
            margin: 10px;
        }
        
        .buttonParent{
            margin: 10px;
        }
        .searchButton{
            display: inline-block;
        }
    }

    .histogramImage{
        margin-top: 70px;
        margin-left: 10%;
        width: 600px;
    }

    .myTextField{
        display: inline-flex;
    }
}