
$white:    #ffffff;
$gray-100: #f3f7fa;
$gray-200: #f5f8fb;
$gray-300: #F0F3F6;
$gray-400: #eaedf2;
$gray-500: #d1d7e0;
$gray-600: #93a5be;   
$gray-700: #66799e;   
$gray-800: #506690;   
$gray-900: #4A5073;
$dark    : #262B40; 
$black   : #2e3650;

// fusv-disable
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);
// fusv-enable

// Generic colors
$blue:    #0948B3;
$indigo:  #4c5680;
$purple:  #8965e0;
$pink:    #C96480;
$red:     #FA5252;
$orange:  #FF9F89;
$brown:   #b9a084;
$yellow:  #f5b759;
$yellow-alt:#fde9ca;
$green:   #05A677;
$teal:    #1E90FF;
$cyan:    #63b1bd;
$soft-indigo:#f5e8ff;
$soft-green: #2CA58D;
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);
$default:       #262B40;
$primary:       #262B40;
$secondary:     #61DAFB;
$tertiary:      #1B998B;
$quaternary:    #C96480;

$ct-series-names: (a, b, c, d, e, f, g) !default;
$ct-series-colors: (
  #1B998B,
  #17a5ce,
  #262B40,
  #f5b759,
  #C96480,
  #ffffff,
  #17a5ce,
);

$primary-app:     #EBF4F6;
$secondary-app:   #424AA0;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$gray:          $gray-900;
$light:         $gray-400;
$lighten:       $gray-300;
$soft:          $gray-200;
$dark:          $dark;

// Brands colors
$facebook:      #3b5999;
$twitter:       #1da1f2;
$google:        #DB4337;
$instagram:     #e4405f;
$pinterest:     #bd081c;
$youtube:       #cd201f;
$slack:         #3aaf85;
$dribbble:      #ea4c89;
$github:        #222222;
$dropbox:       #1E90FF;
$twitch:        #4B367C;
$paypal:        #ecb32c;
$behance:       #0057ff;
$reddit:        #E84422;

// Brand colors
$brand-colors: ();
$brand-colors: map-merge((
  "facebook":     $facebook,
  "twitter":      $twitter,
  "google":       $google,
  "instagram":    $instagram,
  "pinterest":    $pinterest,
  "youtube":      $youtube,
  "slack":        $slack,
  "dribbble":     $dribbble,
  "dropbox":      $dropbox,
  "twitch":       $twitch,
  "paypal":       $paypal,
  "behance":      $behance,
  "reddit" :      $reddit,  
  "github":       $github
), $brand-colors);

// Theme colors
$theme-colors: ();
$theme-colors: map-merge((
  "primary":       $primary,
  "secondary":     $secondary,
  "tertiary":      $tertiary,
  "quaternary":    $quaternary,
  "primary-app":   $primary-app,
  "secondary-app": $secondary-app,
  "light":         $light,
  "lighten":       $lighten,
  "success":       $success,
  "info":         $info,
  "warning":      $warning,
  "danger":       $danger,
  "white":        $white,
  "gray":         $gray,
  "indigo":       $indigo,
  "dark":         $dark,
  "soft":         $soft,
  "black":        $black,
  "blue":         $blue,
  "pink":         $pink,
  "cyan":         $cyan,
  "purple":       $purple,
  "soft-indigo":  $soft-indigo,
  "soft-green":   $soft-green,
  "gray-100":     $gray-100,
  "gray-200":     $gray-200,
  "gray-300":     $gray-300,
  "gray-400":     $gray-400,
  "gray-500":     $gray-500,
  "gray-600":     $gray-600,
  "gray-700":     $gray-700,
  "gray-800":     $gray-800,
  "facebook":     $facebook,
  "twitter":      $twitter,
  "google":       $google,
  "instagram":    $instagram,
  "pinterest":    $pinterest,
  "youtube":      $youtube,
  "slack":        $slack,
  "dribbble":     $dribbble,
  "dropbox":      $dropbox,
  "twitch":       $twitch,
  "paypal":       $paypal,
  "behance":      $behance,
  "reddit" :      $reddit,  
  "github":       $github
), $theme-colors);
$theme-color-interval: 8%;
$min-contrast-ratio:   3;
$color-contrast-dark:      $dark;
$color-contrast-light:     $white;
$escaped-characters: (
  ("<","%3c"),
  (">","%3e"),
  ("#","%23"),
  ("(","%28"),
  (")","%29"),
);
$enable-caret:                true;
$enable-rounded:              true;
$enable-shadows:              true;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       true;
$enable-grid-classes:         true;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     true;
$enable-negative-margins:     true;
$enable-deprecation-messages: true;
$enable-important-utilities:  true;
$enable-smooth-scroll:        false;

$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0));


$spacer: 1rem;
$spacers: (
  0: 0,
1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: ($spacer * 5),
  7: ($spacer * 8),
  8: ($spacer * 10),
  9: ($spacer * 11),
  10: ($spacer * 14),
  11: ($spacer * 16),
  12: ($spacer * 20),
  'sm': ($spacer * 1),
  'md': ($spacer * 2),
  'lg': ($spacer * 4),
  'xl': ($spacer * 8)
);


$body-bg:                   $soft;
$body-color:                $gray-900;
$body-text-align:           null;

$link-color:                              $primary;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   null;
$emphasized-link-hover-darken-percentage: 15%;

$stretched-link-pseudo-element:           after;
$stretched-link-z-index:                  1;

$paragraph-margin-bottom:   1rem;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$box-shadow:                  0 .5rem 1rem rgba($black, .15);

$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$display4-size:               1.875rem;

$display-font-sizes: (
  1: 5rem,
  2: 3.5rem,
  3: 2.5rem,
  4: 1.875rem,
  5: 1.2rem,
  6: 1rem
);

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: .9rem
);


$paragraph-font-size:         1rem;
$paragraph-line-height:       1.6;


$shadow-input:	                        $box-shadow;
$shadow-input-focus:                    .1rem .1rem 0 rgba($gray-200,.5);

$inpu-lg-padding-y:                     1rem;
$input-bg:                              $white;

$input-color:                           $gray-700;
$input-border-color:                    $gray-500;
$input-focus-bg:                        $input-bg;
$input-focus-color:                     $input-color;
$input-placeholder-color:               $gray-600;
$input-group-addon-color:               $input-color;
$input-group-addon-bg:                  $white;
$input-group-addon-border-color:        $input-border-color;
$input-group-addon-color:               $input-placeholder-color;
$input-group-addon-bg:                  $input-bg;
$input-group-addon-border-color:        $input-border-color;

$input-group-addon-focus-color:               $input-focus-color;
$input-group-addon-focus-bg:                  $input-focus-bg;
$input-group-addon-focus-border-color:        $input-border-color;

