.ranking{
    min-height: 500px;
    text-align: center;
    
    .rankingFilters{
        text-align: center;
        .nameFilter{
            display: inline-block;
        }
        .major-select{
            width: 35%;
            display: inline-block;
            margin-bottom: -30px !important;
        }
        
        
    }
   
    .rank{
        display: inline-block;
        width: 40%;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }
}


