.ranking{
    min-height: 500px;
    text-align: center;
    
    .rankingFilters{
        display: flex;
        justify-content: center;
        
        .major-select{
            width: 30%;
            margin: 10px;
        }
    }
   
    .rank{
        display: inline-block;
        width: 40%;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }
}


